body {
  font-family: monospace;
  background: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.container {
  width: 100%;
  max-width: 400px;
}

label {
  display: block;
  margin-top: 20px;
  font-size: 16px;
}

.unit {
  font-size: 14px;
  color: gray;
}

input {
  width: 100%;
  font-family: monospace;
  font-size: 16px;
  padding: 6px;
  margin-top: 4px;
  box-sizing: border-box;
}

.hint-text {
  font-size: 12px;
  color: gray;
  margin-top: 6px;
  margin-bottom: 10px;
}

.skate-hint-space {
  height: 10px;
}

button {
  font-family: monospace;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  background-color: #cc0000; /* cherry red */
  color: white;
  border: none;
  cursor: pointer;
}

#resetBtn {
  background-color: #cc0000;
}

.output {
  margin-top: 20px;
  display: none;
}
