body {
    font-family: 'Courier New', monospace;
}

.input-container {
    margin: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 5px;
    width: 200px;
    font-family: 'Courier New', monospace;
}

.proportionate-button {
    background-color: #e12f2f; /* Cherry Red */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 250px;
    text-align: center;
}

#loading-bar {
    background-color: #ffbf00; /* Sunburst Yellow */
    height: 5px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 2s ease-in-out;
}

#output-container {
    display: none;
    margin-top: 20px;
}

button {
    display: none;
    padding: 10px 20px;
    background-color: #e12f2f; /* Cherry Red */
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:visible {
    display: block;
}

#reset-button {
    display: none;
}
